src/main/app/testtransform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="testtransformFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/tsttr" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var a = [{"key":"value"},
	{"key":"value"},
	{"key":""}
]
---
 a1 map {
	"sno":$$+1,
	"name":"a",
	"add": "$$"
	}]]></dw:set-payload>
		</dw:transform-message>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<logger message=" error accured by #[exception.getMessage()]" level="INFO" doc:name="Logger"/>
			<set-property propertyName="http.status" value="#[500]" doc:name="Property"/>
			<set-payload value="#[exception.getMessage()]" doc:name="Set Payload"/>
		</catch-exception-strategy>
	</flow>
</mule>
